@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Lora&family=Montserrat:wght@100;400&family=Oswald&family=Raleway:wght@100&family=Rubik:wght@300;700&family=Rye&family=Smokum&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: linear-gradient(to right, #b621fe, #1fd1f9);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#remove {
  margin: 10px;
}

#add {
  margin: 10px;
}

.title {
  font-family: rubik;
}

#subheader {
  font-family: arvo;
}

.productName {
  font-family: lora;
}

.link {
  font-family: arvo;
}

.basket {
  font-family: rubik;
}

.cartStatus {
  font-family: arvo;
}

.form-label {
  font-family: arvo;
  font-weight: bold;
}

.productEntry {
  font-family: arvo;
}
